body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    padding: 15px;
    
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.x {
    display: flex;
    flex-direction: column;

    background: linear-gradient(270deg, rgb(24, 24, 24), rgb(105, 105, 105));

    height: 100%;
    width: 500px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.y {
    display: flex;
    flex-direction: column;

    background: linear-gradient(-45deg, rgb(24, 24, 24), rgb(153, 153, 153));

    height: 100%;
    width: 300px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 8px;

    cursor: pointer;
    color: white;
    padding: 4px;
    background-color: rgb(24, 24, 24);
    transition: 0.5s;

    margin: 5px;
}

.btn:hover {
    padding: 12px;
}

.cadastro {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 10px;
}

p {
    color: rgb(24, 24, 24);
    margin-bottom: 5px;
}
