<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <div>
        <form action="" method="post">
            <h1 style="color: bisque;">Cadastro</h1>
            <input type="text" name="nome" placeholder="Nome" style="text-align: center;"><br>
            <input type="email" name="email" placeholder="Email" style="text-align: center;"><br>
            <input autocomplete="new-password" type="password" name="senha" placeholder="Criar senha" style="text-align: center;">
            <button type="submit">Efetuar cadastro</button>
        </form>
    </div>
</body>
</html>
